.news-section
  position relative
  .news-article
    background-color #fff
    border solid 1px #bfd0e1
    border-radius 4px
    display inline-block
    margin 15px
    width 25%
    img
      width 100%
    .content
      color #3c454c
      font-size 14px
    .description
      color #666666
      text-align left
    .content, .description
      padding 0 10px
    .title
      padding 10px 10px 5px
      text-align left
      h5, span
        display inline-block
        margin 5px
      h5
        color #5c9df5
      span
        color #b9b9b9
        float right
        font-size 10px
    .share-buttons
      padding 10px
      .fa-briefcase
        float left
      .fa-share
        float right
      .not-active
        color #c0c8d1
